* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Set variables to keep the main colors*/
:root{
    --primaryColor: #40A9E4;
    --secondaryColor: #2176DB;
    --tertiaryColor: #FFFFFF;
    --colorFontForm: #395888;
}

body{
    background-color: var(--primaryColor);
    max-height: 100%;
    width: 100%;
}

/* add styles to the block of h1 */
div.block-text {
    background-color: var(--secondaryColor);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 80px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* add styles to the description */
p#description {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--tertiaryColor);
    text-align: center;
    font-size: 24px;
    margin: 20px;
}


h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--tertiaryColor);
    text-align: center;
    font-size: 32px;
    margin: 10px;
}

/* Styles of the walves  */
svg{
    fill: var(--secondaryColor);
    width: 100%;
    height: 100px;
}

svg#bottom{
    margin-bottom: -10px;
}

/* Style to the container form  */
form {
    background-color: var(--tertiaryColor);
    width: 600px;
    border-radius: 30px;
    box-shadow: 0px 4px 40px 8px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
    padding: 20px 0px;
}

/* styles of the text inside the form */
p, label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 20px 0px;
    color:var(--colorFontForm);
    font-weight: bold;
    font-size: 22px;
    text-align: left;
}


div.element-form{
    width: 80%;
    margin: 15px auto;
}

/* styles of the inputs inside the form */
input[type=text], input[type=email], input[type=number], input[type=submit], select, textarea{
    width: 100%;
    height: 40px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    margin: 10px auto;
    padding: 2px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--tertiaryColor);
    border: none;
    outline: none;
    transition: border 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
}

textarea#comments{
    height: 250px;
    resize: none;
    padding: 15px 15px;
}

input[type=text]:focus{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
}

input[type=text]::placeholder{
    color: var(--tertiaryColor);
    opacity: 0.7;
}

input[type=email]:focus{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
}

input[type=email]::placeholder{
    color: var(--tertiaryColor);
    opacity: 0.7;
}


input[type=number]:focus{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
}

input[type=number]::placeholder{
    color: var(--tertiaryColor);
    opacity: 0.7;
}

select:focus{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
}

textarea:focus{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
}

textarea::placeholder{
    color: var(--tertiaryColor);
    opacity: 0.7;
}

input[type=radio], input[type=checkbox]{
    margin: 10px 20px 10px 0px;
    background-color: var(--primaryColor);
}


input[type=radio]:focus{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
}

input[type=checkbox]:focus{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
}

/* align the button  */
#container-button{
    display: flex;
}

input[type=submit]{
    width: 100px;
    height: 30px;
    cursor: pointer;
}

input[type=submit]:hover{
    border: 3px solid var(--secondaryColor);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
}

input[type=submit]:active{
    background-color: var(--secondaryColor);
}


/*----------------- Media querys ---------------*/
/*Dispositivos extra pequeños*/
@media (max-width: 575.98px){
    div.block-text {
        width: 90%;
        padding: auto 20px;
    }
    form {
        width: 90%;
    }
}

/* 
Dispositivos extra pequeños
@media (min-width: 576px) and (max-width: 767..98px) {

}

 Dispostivios medianos 
@media (min-width: 768px) and (max-width: 991.98px){

}

/* Dispositivos grandes 
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Dispositivos extra grandes 
@media (min-width: 1200px) {

} */
